@{
    Layout = "_Layout";
}


<h2 class="text-danger"> Noe gikk galt. <br />Handlingen du forsøkte å utføre kan ikke gjennomføres.</h2>

<img src="~/bilder/ooops.png" alt="Whoopsi" style="width: 300px; height: 300px;"/> <br />

<a asp-controller="Home" asp-action="Index">Tilbake til forsiden</a> <br /> <br />