@page
@model RegisterConfirmationModel
@{
    ViewData["Title"] = "Registreringsbekreftelse";
}

<h1>@ViewData["Title"]</h1>
@{
    if (@Model.DisplayConfirmAccountLink)
    {
<p>
    This app does not currently have a real email sender registered, see <a href="https://aka.ms/aspaccountconf">these docs</a> for how to configure a real email sender.
    Normally this would be emailed: <a id="confirm-link" href="@Model.EmailConfirmationUrl">Click here to confirm your account</a>
</p>
    }
    else
    {
<p>
        Vi har sendt deg en epost med en link du må klikke på for å bekrefte adressen. 
        <br>
        Pass på å sjekke søppelpost hvis du ikke finner den i innboksen din

</p>
    }
}
